@import './colorScheme.css';

.HomePage .FoundExistingGame {
    color: #ffffff;
    font-weight: 500;
    width: 85vw;
    max-width: 750px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 25px 0;
    background-color: var(--sectionSecondary);
    border: var(--sectionSecondaryBorder) solid 3px;
    text-shadow: 2px 2px 2px #000000;
}

.HomePage .NameScreen {
    padding-top: 6vh;
}

.HomePage .NameScreen h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

.HomePage .NameScreen .InputBars .InputBar input {
    text-align: center;
    padding: 8px 0;
    margin-top: 8px;
    width: 280px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    resize: none;
    border-radius: 50px;
    border: none;
    background-color: var(--darkInputBar);
    border: var(--darkInputBarBorder) solid 2px;
    color: #ffffff;
}

.confirmPlayerNames,
.continueExistingGame {
    text-align: center;
    outline: none;
    resize: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: var(--regBtnBg);
    border: var(--regBtnBorder) solid 2px;
    background-image: var(--topGloss);
}

.confirmPlayerNames:hover,
.continueExistingGame:hover {
    background-image: var(--lightHover);
}

.continueExistingGame {
    padding: 7px 0;
    width: 80px;
    font-size: 18px;
    margin-left: 10px;
}

.confirmPlayerNames {
    padding: 10px 0;
    margin-top: 8px;
    width: 280px;
    font-size: 18px;
}