@import "./colorScheme.css";

.SimpleScrabble {
    padding: 20px 0;
}

/* BUTTONS */
.ConfirmWord,
.EndTurn,
.EndGame,
.FinalizeGame,
.ContinueGame,
.Bingo,
.PlayAgain,
.WordCheck,
.GoBackTurn,
.UndoLastWord,
.GetGameHistoryAfter,
.SaveGame,
.LeaveGame {
    text-align: center;
    padding: 14px 0;
    margin: 16px 4px 0;
    width: 150px;
    outline: none;
    font-size: 15px;
    resize: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: var(--regBtnBg);
    border: var(--regBtnBorder) solid 2px;
    background-image: var(--topGloss);
}

.ConfirmWord:hover,
.FinalizeGame:hover,
.ContinueGame:hover,
.PlayAgain:hover,
.Bingo:hover,
.EndTurn:hover,
.EndGame:hover,
.WordCheck:hover,
.GoBackTurn:hover,
.UndoLastWord:hover,
.GetGameHistoryAfter:hover,
.SaveGame:hover,
.LeaveGame:hover {
    background-image: var(--lightHover);
}

.EndTurn {
    width: 110px;
    margin-right: 0;
}

.Bingo,
.ConfirmWord,
.UndoLastWord {
    width: 186px;
}

.WordCheck,
.UndoLastWord,
.GoBackTurn,
.LeaveGame {
    padding: 8px 0;
    margin-top: 0;
}

.WordCheck,
.GoBackTurn,
.LeaveGame {
    width: 186px;
}

.LeaveGame {
    margin-top: 8px;
}

.EndGame {
    width: 250px;
    padding: 8px 0;
    margin-top: 0;
}

.FinalizeGame,
.ContinueGame {
    width: 180px;
}

.PlayAgain {
    width: 200px;
    padding: 16px 0;
    font-size: 16px;
    margin-top: 40px;
}

.GetGameHistoryAfter,
.SaveGame {
    width: 200px;
    padding: 9px 0;
    font-size: 16px;
    margin-top: 20px;
    vertical-align: top;
}

#gameSavedtrue,
#historyLoadedtrue {
    background-color: #9c9c9c;
    border: #464646 solid 2px;
}

.FinalizeGame {
    background-color: var(--warningBtnBg);
    border: var(--warningBtnBorder) solid 2px;
}

.EndTurn {
    background-color: var(--searchBtnBg);
    border: var(--searchBtnBorder) solid 2px;
}

.ScrabbleGame h1 {
    margin: 0;
    padding-top: 2vh;
    color: #ffffff;
    font-size: 30px;
}

.ScoreInfo {
    padding-top: 2vh;
}

.ScoreInfo h1 {
    margin: 0;
    font-size: 28px;
    color: #ffffff;
}

.ScoreTable,
.PlayerLastTilesSection,
.FinalScoreSections,
.PlayerTotalScore {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.PlayerScore {
    color: #ffffff;
    padding: 0 2px;
}

.PlayerScore p {
    font-size: 2vh;
}

.PlayerWordHistory {
    padding: 4px 0;
}

.PlayerWordHistory:hover {
    background-image: var(--lightHover);
}

.PlayerWordScore {
    padding-left: 20px;
    font-size: 18px;
}

.DeleteWord {
    text-align: center;
    padding: 0;
    margin: 0 0 0 10px;
    height: 30px;
    width: 30px;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    color: #e9e9e9;
    background-color: var(--sectionMainBg);
    text-shadow: 2px 2px 2px #000000;
    vertical-align: middle;
}

.DeleteWord:hover {
    background-image: var(--darkHover);
}

.ScoreInfo,
.WordEnter,
.EndGameSection,
.GameHistoryAfterGame {
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    margin: auto;
    width: 85vw;
    max-width: 2000px;
    border-radius: 5px;
    margin-top: 16px;
    padding: 30px 0;
    background-color: var(--sectionMainBg);
    border: var(--sectionMainBorder) solid 3px;  
}

.WordEnter,
.EndGameSection {
    background-color: var(--woodSectionBg);
    border: var(--woodSectionBorder) solid 3px;
}

.GameHistoryAfterGame {
    background-color: var(--sectionSecondary);
    border: var(--sectionSecondaryBorder) solid 3px;
}

.LastTileSectionButtons {
    padding-top: 20px;
}

.LastTiles p {
    color: #ffffff;
}

.WordEnter h2,
.ScoreTable h2,
.LastTiles h2 {
    margin: 0;
    padding-bottom: 10px;
}

.WordInputBar input,
.LastTilesInput input {
    text-align: center;
    outline: none;
    font-size: 22px;
    font-weight: bold;
    resize: none;
    border-radius: 50px;
    background-color: var(--lightInputBar);
    border: var(--lightInputBarBorder) solid 2px;
}

.WordInputBar input {
    padding: 7px 0;
    margin-top: 8px;
    margin-right: 8px;
    width: 252px;
    font-size: 22px;
}

.LastTilesInput input {
    padding: 6px 20px;
    margin-top: 8px;
    width: 60%;
    max-width: 280px;
    font-size: 20px;
}

#changeTileWords {
    font-size: 13px;
    font-style: italic;
    line-height: 1;
}

.WordValidity {
    padding: 15px 0 20px;
    margin: auto;
    margin-top: 20px;
    width: 75vw;
    max-width: 800px;
    background-color: var(--sectionMainBg);
    border: var(--sectionMainBorder) solid 4px;
    border-radius: 10px;
    text-shadow: 2px 2px 2px #000000;
}

.WordValidity .InvalidScrabbleWord h2,
.WordValidity .ValidScrabbleWord h2{
    padding: 0;
    font-size: 22px;
    font-weight: 500;
}

.WordValidity .InvalidScrabbleWord span,
.WordValidity .ValidScrabbleWord span {
    font-weight: bold;
}

.WordValidity .ValidScrabbleWord p {
    padding: 0 20px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}

#invalidWord {
    color: #ff6262;
}

#validWord {
    color: #48f35f;
}

.SmallTile,
.RegularTile {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    background-image: var(--tileGloss);
}

.SmallTile {
    height: 40px;
    width: 40px;
    margin: 1px;
    font-size: 18px;
    border-radius: 8px;
    border: #ffffff solid 2px; 
}

.RegularTile {
    height: 60px;
    width: 60px;
    margin: 1.5px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 12px;
    border: #ffffff solid 3px; 
}

#color0false,
#color0true {
    background-color: var(--regTile);
    border-color: var(--regTileBorder);
}

#color1false,
#color1true {
    background-color: var(--doubleLetterTile);
    border-color: var(--doubleLetterTileBorder);
}

#color2false,
#color2true {
    background-color: var(--tripleLetterTile);
    border-color: var(--tripleLetterTileBorder);
}

#color3false,
#color3true {
    background-color: var(--doubleWordTile);
    border-color: var(--doubleWordTileBorder);
}

#color4false,
#color4true {
    background-color: var(--tripleWordTile);
    border-color: var(--tripleWordTileBorder);
}

#color0true,
#color1true,
#color2true,
#color3true,
#color4true {
    background-image: var(--darkHover);
}

#scoreTileColor {
    background-color: var(--regTile);
    border: var(--regTileBorder) solid 3px;
    font-size: 30px;
    cursor: default;
}

.ShowBingoPoints {
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.CheckWordRow {
    margin-top: 8px;
}

.EndGameRow {
    margin-top: 50px;
}

.FinalizeScores h1 {
    padding-top: 0;
}

/* LOADING ANIMATION */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 15px;
}

.lds-ellipsis div {
    position: absolute;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #1f4c61;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

