@import "./colorScheme.css";

.SimpleScrabbleV2 {
    padding: 0 0 50px;
}

.ScoreInfo,
.WordEnterSection,
.InGameWordCheck {
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    margin: auto;
    width: 85vw;
    max-width: 2000px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 20px;
    border: #ffffff solid 3px;
}

.ScoreInfo {
    background-image: var(--redGradient);
    border-color: var(--sectionMainBorder);
}

.WordEnterSection {
    background-color: var(--woodSectionBg);
    border-color: var(--woodSectionBorder);  
}

.InGameWordCheck {
    padding: 0 20px;
    background-image: var(--deepBlueGradient);
    border: var(--sectionSecondaryBorder) solid 3px;
}

.ScoreInfo h1 {
    margin: 0;
    font-size: 28px;
    color: #ffffff;
}

.ScoreTable {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.PlayerScore {
    color: #ffffff;
    padding: 0 2px;
}

.PlayerScore p {
    font-size: 2vh;
}

.PlayerWordHistory {
    padding: 4px 0;
}

.SmallTile {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    background-image: var(--tileGloss);
    height: 40px;
    width: 40px;
    margin: 0 1px;
    font-size: 19px;
    border-radius: 8px;
    border: #ffffff solid 2px; 
}

.InvisiblePlaceholderTile {
    height: 40px;
    margin: 0;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}

.PlayerWordHistory:hover {
    background-image: var(--lightHover);
}

.PlayerWordScore {
    padding-left: 20px;
    font-size: 18px;
}

.InGameContainer {
    max-width: 1200px;
    margin: auto;
}

.InGameBoardContainer,
.PlayerInteractContainer {
    display: inline-block;
    vertical-align: middle;
    height: 90%;
}

.InGameBoardContainer {
    width: 55%;
}

.PlayerInteractContainer {
    width: 45%;
}

.PlayerInteractSection {
    width: 90%;
    margin: auto;
    background-image: var(--redGradient);
    border: var(--sectionMainBorder) solid 3px;
    max-height: 95%;
    border-radius: 8px;
}

.InGameScrabbleBoardWrapper {
    border: var(--scrabbleBoardBorder) solid 3px;
    background-color: var(--scrabbleBoard);
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    aspect-ratio : 1 / 1;
}

.InGameScrabbleBoard {
    margin: auto;
    border-radius: 2px;
    background-color: var(--scrabbleBoardInlineBorder);
    padding: 1px;
}

.IndividualInGameBoardTiles button {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    background-image: var(--tileGloss);
    font-size: 110%;
    line-height: 0%;
    aspect-ratio : 1 / 1;
    border-radius: 5px;
    border: var(--scrabbleBoardInlineBorder) solid 1px;
    width: 6.666%;
}

#EmptyTile0,
#EmptyTile1,
#EmptyTile2,
#EmptyTile3,
#EmptyTile4 {
    background-image: var(--darkenUnfilledTile);
}

#EmptyTile0:hover,
#EmptyTile1:hover,
#EmptyTile2:hover,
#EmptyTile3:hover,
#EmptyTile4:hover {
    background-image: var(--lightHover);
    cursor: pointer;
}


#EmptyTile0 {
    background-color: var(--emptyRegularTile);
    /* border-color: var(--emptyRegularTileBorder); */
}

#EmptyTile1 {
    background-color: var(--doubleLetterTile);
    /* border-color: var(--doubleLetterTileBorder); */
}

#EmptyTile2 {
    background-color: var(--tripleLetterTile);
    /* border-color: var(--tripleLetterTileBorder); */
}

#EmptyTile3 {
    background-color: var(--doubleWordTile);
    /* border-color: var(--doubleWordTileBorder); */
}

#EmptyTile4 {
    background-color: var(--tripleWordTile);
    /* border-color: var(--tripleWordTileBorder); */
}

#FilledTile0,
#FilledTile1,
#FilledTile2,
#FilledTile3,
#FilledTile4 {
    border: solid;
    border-width: 0 3px 4px 0;
    background-clip: padding-box;
}

#FilledTile0 {
    background-color: var(--regTile);
    border-color: transparent var(--regTileBorder2) var(--regTileBorder) transparent;
    /* border: var(--regTileBorder2) solid 3px; */
}

#FilledTile1 {
    background-color: var(--regTile);
    border-color: transparent var(--doubleLetterTileBorder2) var(--doubleLetterTileBorder) transparent;
    /* border: var(--doubleLetterTileBorder2) solid 3px; */
}

#FilledTile2 {
    background-color: var(--regTile);
    border-color: transparent var(--tripleLetterTileBorder2) var(--tripleLetterTileBorder) transparent;
    /* border: var(--tripleLetterTileBorder2) solid 3px; */
}

#FilledTile3 {
    background-color: var(--regTile);
    border-color: transparent var(--doubleWordTileBorder2) var(--doubleWordTileBorder) transparent;
    /* border: var(--doubleWordTileBorder2) solid 3px; */
}

#FilledTile4 {
    background-color: var(--regTile);
    border-color: transparent var(--tripleWordTileBorder2) var(--tripleWordTileBorder) transparent;
    /* border: var(--tripleWordTileBorder2) solid 3px; */
}

.WordInputAndButtons,
.QuickScores {
    background-image: var(--glassEffect);
    border: var(--glassEffectBorder) solid 3px;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    padding: 15px 0;
    border-radius: 10px;
}

.InGamePlayerInteract {
    padding: 20px 0;
}

.WordInputAndButtons h2 {
    margin: 0 0 10px;
    font-size: 20px;
}

.QuickScores h2 {
    margin: 2px 0;
    font-size: 18px;
}

.IndividualQuickScoreContainer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.WordInputAndButtons #HowToTypeBlanks {
    margin: 2px 0 0;
    font-size: 14px;
    font-style: italic;
}

.WordInputAndButtons input,
.submitWord {
    text-align: center;
    outline: none;
    font-weight: bold;
    line-height: 30px;
    padding: 4px 0;
    border: var(--glassEffectBorder2) solid 2px;
}

.WordInputAndButtons input {
    resize: none;
    border-radius: 50px 0 0 50px;
    border-width: 2px 0 2px 2px;
    background-color: var(--lightInputBarBorder);
    font-size: 21px;
    width: 185px;
    vertical-align: bottom;
}

.submitWord {
    font-size: 16px;
    border-radius: 0 50px 50px 0;
    background-color: var(--searchBtnBg);
    background-image: var(--topGloss);
    width: 100px;
}

.WordDirection button {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 135px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 50px;
    border: var(--glassEffectBorder) solid 2px;
}

.WordDirection .HorizontalWD {
    border-radius: 50px 0 0 50px;
}

.WordDirection .VerticalWD {
    border-radius: 0 50px 50px 0;
}

.WordDirection #IsSelectedtrue {
    background-color: #f0f0f0;
    color: #000000;
}

.WordDirection #IsSelectedfalse {
    background-color: transparent;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
}

.LeaveMidGame,
.EnterRemainingTiles,
.UndoTurnSection button {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 50px;
    padding: 3px 0;
    background-color: var(--regBtnBg);
    border: var(--regBtnBorder) solid 2px; 
    background-image: var(--topGloss);
}

.LeaveMidGame {
    width: 155px;
    background-color: var(--warningBtnBg);
    border: var(--warningBtnBorder) solid 2px; 
}

.UndoTurnSection button {
    width: 180px;
}

.EnterRemainingTiles {
    margin: 10px 0;
    width: 220px;
}

.RemainingTilesInput,
.FinalScoresSection {
    border-radius: 5px;;
    margin: auto;
    padding: 20px 0 20px;
}

.PlayerIndividualScoreV2 {
    padding-bottom: 15px;
}

.RemainingTilesInput h2 {
    margin: 0;
    font-size: 18px;
}

.LastTilesInputV2 {
    padding-bottom: 10px;
}

.LastTilesInputV2 input {
    text-align: center;
    outline: none;
    font-size: 20px;
    padding: 1px;
    font-weight: bold;
    resize: none;
    border-radius: 50px;
    background-color: var(--lightInputBar);
    border: var(--lightInputBarBorder) solid 2px;
    width: 65%;
    max-width: 220px;
}

.LastTilesTile {
    margin-bottom: 8px;
}

.ContinueGame,
.FinalizeGame {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    width: 45%;
    padding: 4px 0;
    margin: 0 2%;
    border-radius: 50px;
    background-color: var(--regBtnBg);
    border: var(--regBtnBorder) solid 2px; 
    background-image: var(--topGloss);
    max-width: 180px;
}

.FinalizeGame {
    background-color: var(--warningBtnBg);
    border: var(--warningBtnBorder) solid 2px; 
}

.FinalScoresSection h1 {
    margin: 0;
    padding: 0 0 5px;
    font-size: 24px;
}

.FinalScoresSection h2 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 22px;
}

.RegularTile {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    height: 56px;
    width: 56px;
    margin: 2px;
    font-size: 30px;
    border-radius: 12px;
    background-color: var(--regTile);
    border: var(--regTileBorder) solid 3px;
    background-image: var(--tileGloss);
}

.EndGameOptions {
    padding-top: 15px;
}

.EndGameOptions .ExitGame,
.EndGameOptions .SaveGame {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    width: 45%;
    padding: 10px 0;
    margin: 0 2% 0;
    border-radius: 50px;
    background-color: var(--regBtnBg);
    border: var(--regBtnBorder) solid 2px; 
    background-image: var(--topGloss);
    max-width: 175px;
}

#gameSavedtrue {
    background-color: #9c9c9c;
    border: #464646 solid 2px;
}

.submitWord:hover,
.WordDirection button:hover,
.EnterRemainingTiles:hover,
.ContinueGame:hover,
.FinalizeGame:hover,
.ExitGame:hover,
.SaveGame:hover,
.LeaveMidGame:hover,
.UndoTurnSection button:hover {
    background-image: var(--lightHover);
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .InGameBoardContainer,
    .PlayerInteractContainer {
        display: contents;
        vertical-align: middle;
    }

    .InGameBoardContainer {
        width: 80%;
    }

    .PlayerInteractContainer {
        width: 80%;
    }

    .PlayerInteractSection {
        max-width: 680px;
        margin-top: 20px;
    }
}


/* LOADING ANIMATION */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 15px;
}

.lds-ellipsis div {
    position: absolute;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #1f4c61;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}