.SimpleScrabble {
    padding: 20px 0;
}

/* BUTTONS */
.ConfirmWord,
.EndTurn,
.EndGame,
.FinalizeGame,
.ContinueGame,
.Bingo,
.PlayAgain,
.WordCheck,
.UndoLastWord,
.GetGameHistoryAfter,
.SaveGame {
    text-align: center;
    padding: 14px 0;
    margin: 16px 4px 0;
    width: 150px;
    outline: none;
    font-size: 15px;
    resize: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: #9de0ff;
    border: #317594 solid 2px;
}

.ConfirmWord:hover,
.FinalizeGame:hover,
.ContinueGame:hover,
.PlayAgain:hover,
.Bingo:hover,
.EndTurn:hover,
.EndGame:hover,
.WordCheck:hover,
.UndoLastWord:hover,
.GetGameHistoryAfter:hover,
.SaveGame:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3) 0 0);
}

.EndTurn {
    width: 110px;
    margin-right: 0;
}

.Bingo,
.ConfirmWord,
.UndoLastWord,
.WordCheck {
    width: 186px;
}

.WordCheck,
.UndoLastWord {
    padding: 8px 0;
    margin-top: 0;
}

.EndGame {
    width: 220px;
    padding: 8px 0;
    margin-top: 0;
}

.FinalizeGame,
.ContinueGame {
    width: 180px;
}

.PlayAgain {
    width: 200px;
    padding: 16px 0;
    font-size: 16px;
    margin-top: 40px;
}

.GetGameHistoryAfter,
.SaveGame {
    width: 200px;
    padding: 9px 0;
    font-size: 16px;
    margin-top: 20px;
    vertical-align: top;
}

#gameSavedtrue {
    background-color: #9c9c9c;
    border: #464646 solid 2px;
}

.EndGame {
    background-color: #ff3838;
    border: #ac2828 solid 2px;
}

.EndTurn {
    background-color: #58e67b;
    border: #307240 solid 2px;
}

.ScrabbleGame h1 {
    margin: 0;
    padding-top: 2vh;
    color: #ffffff;
    font-size: 30px;
}

.ScoreInfo {
    padding-top: 2vh;
}

.ScoreInfo h1 {
    margin: 0;
    font-size: 28px;
    color: #ffffff;
}

.ScoreTable,
.PlayerLastTilesSection,
.FinalScoreSections,
.PlayerTotalScore,
.IndividualGameInfoContainer,
.IndividualGameInfoScore {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.PlayerScore {
    color: #ffffff;
    padding: 0 2px;
}

.PlayerScore p {
    font-size: 2vh;
}

.PlayerWordHistory {
    margin-bottom: 8px;
}

.PlayerWordScore {
    padding-left: 20px;
    font-size: 20px;
}

.IndividualGameInfoWordHistory,
.IndividualGameInfoSubtractedTiles,
.IndividualGameInfoOtherPlayerTiles {
    padding-top: 8px;
}

.IndividualGameInfo h1 {
    padding: 0;
}

.ScoreInfo,
.WordEnter,
.EndGameSection,
.GameHistory {
    color: #ffffff;
    /* background-image: linear-gradient(to bottom right, #491e1e, #663737, #795858); */
    background-color: #ad2727;
    margin: auto;
    width: 70vw;
    border-radius: 5px;
    margin-top: 16px;
    padding: 30px 0;
    border: #501919 solid 3px;
    text-shadow: 2px 2px 2px #000000;
}

.WordEnter,
.EndGameSection {
    background-color: #b48d53;
}

.LastTileSectionButtons {
    padding-top: 20px;
}

.LastTiles p {
    color: #ffffff;
}

.WordEnter h2,
.ScoreTable h2,
.LastTiles h2 {
    margin: 0;
    padding-bottom: 10px;
}

.WordInputBar input {
    text-align: center;
    background-color: #ffffff;
    padding: 7px 0;
    margin-top: 8px;
    margin-right: 8px;
    width: 252px;
    outline: none;
    font-size: 22px;
    font-weight: bold;
    resize: none;
    border-radius: 50px;
    border: #dbdbdb solid 2px;
}

#changeTileWords {
    font-size: 13px;
    font-style: italic;
}

#validWord {
    color: #48f35f;
}

#invalidWord {
    color: #ff4242;
}

.SmallTile,
.RegularTile {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.SmallTile {
    height: 40px;
    width: 40px;
    margin: 1px;
    font-size: 18px;
    border-radius: 8px;
    border: #ffffff solid 2px; 
}

.RegularTile {
    height: 60px;
    width: 60px;
    margin: 1.5px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 12px;
    border: #ffffff solid 3px; 
}

#color0,
#color5 {
    background-color: #cca774;
    border-color: #66543b;
}

#color1 {
    background-color: #81b0e6;
    border-color: #3c6594;
}

#color2 {
    background-color: #117197;
    border-color: #0c445a;
}

#color3 {
    background-color: #cf8570;
    border-color: #7c4333;
}

#color4 {
    background-color: #be3922;
    border-color: #83211d;
}

#scoreTileColor {
    background-color: #cca774;
    border: #5f4f38 solid 3px;
    font-size: 30px;
    cursor: default;
}

.ShowBingoPoints {
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.CheckWordRow {
    margin-top: 8px;
}

.EndGameRow {
    margin-top: 50px;
}

.LastTilesInput input {
    text-align: center;
    background-color: #ffffff;
    padding: 6px 20px;
    margin-top: 8px;
    width: 60%;
    max-width: 280px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    resize: none;
    border-radius: 50px;
    border: #dbdbdb solid 2px;
}

.FinalizeScores h1 {
    padding-top: 0;
}

.IndividualGame {
    padding-bottom: 10px;
}

.IndividualGame h4,
.IndividualGame h2,
.IndividualGame h3 {
    margin: 5px 0;
}

.IndividualGame h4 {
    font-size: 30px;
}

.IndividualGame h3 {
    padding-top: 15px;
}

.IndividualGameBorder {
    border-bottom: 2px solid #ffffff ;
    width: 80%;
    margin: auto;
    padding-top: 10px;
    box-shadow: 0 2px 0 #000000;
}

/* LOADING ANIMATION */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 15px;
}

.lds-ellipsis div {
    position: absolute;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #1f4c61;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

