@import './colorScheme.css';

.StatsFinder {
    color: #ffffff;
    padding: 50px 0 120px;
    background-image: var(--deepBlueGradient);
}

.StatsFinder h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.StatsFinder h2 {
    font-size: 20px;
}

.StatOption {
    text-align: center;
    padding: 10px 0;
    margin: 16px 4px 0;
    width: 180px;
    outline: none;
    font-size: 15px;
    resize: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border: var(--darkInputBarBorder) solid 2px;
    color: #ffffff;
}

#isSelectedtrue {
    background-color: #ffffff;
    /* border: var(--regBtnBorder) solid 2px; */
    color: #000000;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255, 255, 255, 0.39) 50%);
}

.StatOption:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.13) 0 0);
}

#statInstruction {
    padding-top: 20px;
}

#statInstruction p {
    font-size: 18px;
    font-weight: 500;
}

.StatsPlayerNameInput input {
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    padding: 8px 0;
    margin-top: 8px;
    width: 240px;
    outline: none;
    font-size: 26px;
    font-weight: bold;
    resize: none;
}

.StatOptionSearch,
.GameHistorySearch {
    text-align: center;
    font-size: 18px;
    outline: none;
    resize: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--searchBtnBg);
    border: var(--searchBtnBorder) solid 2px;
    background-image: var(--topGloss);
}

.StatOptionSearch {
    padding: 12px 0;
    margin-left: 20px;
    width: 100px;
}

.GameHistorySearch {
    padding: 6px 0;
    margin: 4px 5px;
    width: 240px;
}

.StatOptionSearch:hover,
.GameHistorySearch:hover {
    background-image: var(--lightHover);
}

.PlayerStats,
.AlltimeHighscores,
.GroupGameHistoryGraph,
.GroupGameHistory {
    width: 85%;
    margin: auto;
    border-radius: 20px;
    margin-top: 40px;
    padding: 40px 0;
    background-color: var(--sectionSecondary);
    border: var(--sectionSecondaryBorder) solid 3px;
    text-shadow: 2px 2px 2px #000000;
}

.PlayerGameInfo,
.PlayerHighscores,
.PlayerWordHighscores,
.AlltimeGameHS,
.AlltimeWordHS {
    width: 85%;
    margin: auto;
    border-radius: 10px;
    margin-top: 40px;
    padding: 30px 0;
    background-color: var(--sectionMainBg);
    border: var(--sectionMainBorder) solid 4px;
    text-shadow: 2px 2px 2px #000000;
}

.PlayerRecentGames {
    width: 85%;
    margin: auto;
    margin-top: 40px;
    padding: 30px 0;
    border-radius: 10px;
    border: var(--darkGraphBorder) solid 4px;
    background-color: var(--darkGraphBg);
}

.GameHistoryPlayersInput input {
    text-align: center;
    padding: 6px 0;
    margin: 4px 5px;
    width: 240px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    resize: none;
    border-radius: 50px;
    border: none;
    background-color: var(--darkInputBar);
    border: var(--darkInputBarBorder) solid 2px;
    color: #ffffff;
}

.PlayerGameInfo table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.PlayerGameInfo td,
th {
    border: none;
    text-align: center;
    padding: 12px;
}

.PlayerGameInfo th {
    font-weight: bold;
    font-size: 22px;
}

.PlayerGameInfo td {
    font-size: 18px;
    font-weight: 500;
}

.PlayerGameInfo tr:nth-child(5) {
    background-color: #6b1b1bb7;
}

.HighscoreTableTitles,
.HighscoreTable {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.IndividualPlayerHighscoreTiles {
    padding-bottom: 15px;
}

.IndividualPlayerHighscoreTiles p,
.NoGameHighscoresFound p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.IndividualPlayerHighscoreBorder {
    border-bottom: 2px solid #ffe6e6;
    width: 82%;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: 0 2px 0 #000000;
}

.HighscoreTableTitles {
    padding-bottom: 20px;
}

.HighscoreTableTitles h2 {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.HighscoreTiles {
    height: 50px;
    width: 50px;
    margin: 1.5px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: #ffffff solid 3px; 
    background-image: var(--tileGloss);
}

.WordHighscoreTitle,
.HighscoreTitle {
    margin-bottom: 20px;
}

.WordHighscoreTitle p,
.HighscoreTitle p {
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.PlayerStatsTitle h1 {
    font-size: 24px;
}

.IndividualPlayerWordHighscore {
    padding: 12px 0;
}

.AlltimeWordHSName {
    font-size: 22px;
    font-weight: bold;
    padding-right: 20px;
}

.AlltimeGameHSName {
    font-size: 20px;
    font-weight: bold;
}

.WordHSTile {
    height: 50px;
    width: 50px;
    margin: 1.5px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    border: #ffffff solid 3px; 
    vertical-align: middle;
    cursor: default;
    background-image: var(--tileGloss);
}

#color0 {
    background-color: var(--regTile);
    border-color: var(--regTileBorder);
}

#color1 {
    background-color: var(--doubleLetterTile);
    border-color: var(--doubleLetterTileBorder);
}

#color2 {
    background-color: var(--tripleLetterTile);
    border-color: var(--tripleLetterTileBorder);
}

#color3 {
    background-color: var(--doubleWordTile);
    border-color: var(--doubleWordTileBorder);
}

#color4 {
    background-color: var(--tripleWordTile);
    border-color: var(--tripleWordTileBorder);
}

.PlayerWordHS {
    padding-left: 20px;
    font-size: 22px;
    font-weight: 500;
    vertical-align: middle;
}

.NoRecordsFound p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

/* loading symbol */
.lds-ellipsis-stats {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
}

.lds-ellipsis-stats div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis-stats div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis-stats div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis-stats div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis-stats div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis-stats1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis-stats3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis-stats2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}