@import './components/styles/colorScheme.css';

.App {
  text-align: center;
  background-image: var(--siteBg);
  min-height: 100vh;
}

.App .Title {
  padding: 8px 0;
  background-color: #000000;
}

.App .Title img {
  height: 35px;
}

.App .Title span {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.App .Title h1 {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 30px;
}



