body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, button {
  font-family: inherit
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(19, 19, 19);
}

::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 134, 134);
}